
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 10px;
}


.contact-info p {
    font-size: 1em;
    color: #7f8c8d;
    margin-bottom: 5px;
}

.contact-info a {
    color: #2980b9;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


p {
    font-size: 1.1em;
    color: #34495e;
    margin-bottom: 20px;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1em;
    color: #34495e;
    margin-bottom: 10px;
}


footer {
    text-align: center;
    font-size: 0.9em;
    color: #95a5a6;
    margin-top: 20px;
}
